.breadcrumb-item {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.breadcrumb-item.active {
  font-weight: 700;
}

.breadcrumb-item.light {
  color: var(--title-light);
}
